<div id="<%= dom_id video_source %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Provider:</strong>
    <%= video_source.provider %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identify:</strong>
    <%= video_source.identify_id %>
  </p>
</div>
