<div id="<%= dom_id video %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Video source:</strong>
    <%= video.video_source_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= video.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= video.description %>
  </p>
</div>
